<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.happysanta.alias" >
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name="org.happysanta.alias.start.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.happysanta.alias.game.GameActivity"
            android:label="@string/title_activity_game"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="org.happysanta.alias.settings.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="org.happysanta.alias.dictionaries.DictionariesActivity"
            android:label="@string/dictionaries_activity_title" >
        </activity>
    </application>

</manifest>
